:root {
    /* --color1: #8EF10F; */
    --color2: #e9eef0;
    --color1: #333;
}

.subsBlock{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.typesBlock{
    width: 95vw;
    height: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.type{
    padding: 5vw;
    height: 95%;
    width: 30vw;
    border: 1px solid var(--color1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 3vw;
}
.compName{
    font-size: 5vw;
    text-transform: uppercase;
    color: var(--color1);
}
.buySubs{
    padding: 2vw;
    border: 1px solid var(--color1);
    border-radius: 10vw;
    text-decoration: none;
    text-align: center;
    color: var(--color1);
}
.buySubs:hover{
    padding: 3vw;
    border: 1px solid var(--color1);
    background-color: var(--color1);
    color: var(--color2);
    transition: .2s ease;
}

.subincl{
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}

.orderDescr{
    width: 80%;
    text-align: center;
}
@media (max-width: 1024px) {
    .subsBlock {
        padding: 3vw;
    }

    .typesBlock {
        width: 90%;
    }

    .type {
        width: 40vw;
        height: 25vh;
        margin: 2vw;
    }

    .compName {
        font-size: 3.5vw;
    }

    .buySubs {
        padding: 1.5vw;
        border-radius: 7vw;
    }
}

@media (max-width: 768px) {
    .subsBlock {
        padding: 4vw;
    }

    .typesBlock {
        flex-direction: column;
        align-items: center;
    }

    .type {
        width: 80vw;
        height: 30vh;
        margin: 2vw 0;
    }

    .compName {
        font-size: 3vw;
    }

    .buySubs {
        padding: 1.2vw;
        border-radius: 6vw;
    }
    .price {
        margin: 2vw;
    }
    .orderDescr {
        margin-top: 25vh;
    }
}

@media (max-width: 480px) {
    .subsBlock {
        padding: 5vw;
    }

    .typesBlock {
        width: 100%;
    }

    .type {
        width: 90vw;
        margin: 2vw 0;
        padding: 4vw;
    }

    .compName {
        font-size: 2.5vw;
    }

    .buySubs {
        padding: 1vw;
        border-radius: 5vw;
    }
    .price {
        margin: 5vw;
    }
    .orderDescr {
        margin-top: 35vh;
    }
}
@media (max-width: 375px) {
    .subsBlock {
        padding: 5vw;
    }

    .typesBlock {
        width: 100%;
    }

    .type {
        width: 90vw;
        margin: 2vw 0;
        padding: 4vw;
    }

    .compName {
        font-size: 2.5vw;
    }

    .buySubs {
        padding: 1vw;
        border-radius: 5vw;
    }
    .price {
        margin: 5vw;
    }
    .orderDescr {
        margin-top: 35vh;
    }
}

